<!-- footer.hbs -->
<footer style="background-color: #333; padding: 20px; text-align: center; color: white;">
    <p>&copy; 2024 Hyperlocal. All Rights Reserved.</p>
    <p>Follow us on:</p>
    <a href="https://facebook.com/hyperlocal" style="color: white; margin-right: 15px;">Facebook</a>
    <a href="https://twitter.com/hyperlocal" style="color: white; margin-right: 15px;">Twitter</a>
    <a href="https://instagram.com/hyperlocal" style="color: white;">Instagram</a>
</footer>